* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 11px;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}



.big-cont {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20% 5% 20%;
    padding: 3%;
    border-radius: 15px;
}

.sml-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    align-items: center;
}

.sml-cont h2 {

    font-weight: 700;
    color: hsl(218, 44%, 22%);
    padding-left: 5px;
}

.sml-cont p {
    font-size: 15px;
    font-weight: 400;
    padding-top: inherit;
    padding-left: 5px;
    color: hsl(220, 15%, 55%);
}

.img-qr {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 5%;
}

.img-qr img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
}

@media (min-width: 376px) and (max-width:1440px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;

    }

    .big-cont {
        max-width: 315px;
        padding: 12px;
        margin: 50px auto;
        
    }

}